## Lec 14 : Grocery store Analysis
- Name: Vansh Matreja
- Division: A

In [1]:
# Setup
import pandas as pd

In [2]:
sales_2017_df = pd.read_csv("Australian_Grocery_Store_Data_2017.csv")
sales_2017_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.140,cash,0.0,2.99,2.99
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.146,cash,0.0,2.99,2.99
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.150,cash,0.0,2.99,2.99
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.152,cash,0.0,2.99,2.99
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.162,cash,0.0,2.99,2.99

In [3]:
sales_2018_df = pd.read_csv("Australian_Grocery_Store_Data_2018.csv")
sales_2018_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
0,e07045cf-0ca3-4469-a3a5-e2ccb3e58bc8,4/9/2018 5:40:27 PM,9350212000017,Apple Granny Smith 1kg bag,2.000,cash,3.0,2.69,-0.31
1,680a9b08-c623-419a-a889-91e6db4eaddb,2/15/2018 4:19:49 PM,2003,Apples Pink Lady,0.126,cash,0.0,2.99,2.99
2,27bd758f-b646-4601-8c22-7243bed6d027,5/4/2018 1:02:21 PM,2003,Apples Pink Lady,0.134,cash,0.0,2.99,2.99
3,341b63d0-25d2-4751-be8d-d27f487bee19,5/17/2018 11:18:25 AM,2003,Apples Pink Lady,0.144,cash,0.0,2.99,2.99
4,0f3aad8c-60dd-45d6-a9fb-1b70f92563e0,7/17/2018 11:57:02 AM,2003,Apples Pink Lady,0.146,cash,0.0,2.99,2.99

In [4]:
sales_2018_df.sort_values("receipt_id").head(10)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
18180,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2032,Orange navel,1.426,cash,0.0,2.99,2.99
9272,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2010,Banana Cavendish,1.436,cash,2.0,1.99,-0.01
22346,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,9332769000139,Eggs 700g,1.000,cash,2.7,3.20,0.50
17096,00046d12-498b-4a20-93aa-e283e4bf7019,2/22/2018 3:18:34 PM,1131,Lemon,0.160,cash,0.0,2.99,2.99
68781,00046d12-498b-4a20-93aa-e283e4bf7019,2/22/2018 3:18:34 PM,1017,Capsicum red,0.136,cash,0.0,4.99,4.99
26141,00046d12-498b-4a20-93aa-e283e4bf7019,2/22/2018 3:18:34 PM,2055,grapes sulthana,0.806,cash,2.0,4.99,2.99
38,00046d12-498b-4a20-93aa-e283e4bf7019,2/22/2018 3:18:34 PM,2003,Apples Pink Lady,0.242,cash,0.0,2.99,2.99
5189,00046d12-498b-4a20-93aa-e283e4bf7019,2/22/2018 3:18:34 PM,2118,Avocado Hass Large,1.000,cash,1.5,2.50,1.00
60565,00046d12-498b-4a20-93aa-e283e4bf7019,2/22/2018 3:18:34 PM,4029,Nectarine White,0.698,cash,1.2,2.99,1.79
46236,00046d12-498b-4a20-93aa-e283e4bf7019,2/22/2018 3:18:34 PM,1148,Celery Pieces,0.086,cash,2.0,4.90,2.90

In [5]:
sales_df = pd.concat((sales_2017_df, sales_2018_df), ignore_index= True)
sales_df.sort_values("receipt_id").head(10)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
14443,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,2010,Banana Cavendish,1.364,cash,2.0,1.99,-0.01
95656,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,1163,Brushed Potatoes 5kg bag,1.000,cash,4.5,4.99,0.49
1171,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2002,Apples Granny Smith,0.352,cash,0.0,3.00,3.00
88419,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2124,mango 2for 3.00,1.000,cash,0.0,3.00,3.00
94804,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1073,Potato Desiree,1.370,cash,0.0,2.99,2.99
91984,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1008,Broccoli,0.626,cash,0.0,3.50,3.50
132330,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,9322670000014,Carrots 1kg,1.000,cash,0.8,1.49,0.69
219496,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,9332769000139,Eggs 700g,1.000,cash,2.7,3.20,0.50
206422,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2010,Banana Cavendish,1.436,cash,2.0,1.99,-0.01
215330,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2032,Orange navel,1.426,cash,0.0,2.99,2.99

In [6]:
# 
items_categories_df = pd.read_csv("Australian_Grocery_Store_Data_Only_Items_Categories.csv")
items_categories_df

                        item_name   main_category sub_category
0            2kg Royal gala apple   Fresh Produce       Apples
1      Apple Granny Smith 1kg bag   Fresh Produce       Apples
2     Apple Granny smith 2kg Bags   Fresh Produce       Apples
3                      apple Jazz   Fresh Produce       Apples
4                  Apple Jonathan   Fresh Produce       Apples
...                           ...             ...          ...
1261     MD Coconut Vinegar 350ml  Pantry Staples      Vinegar
1262                Vinegar 350ml  Pantry Staples      Vinegar
1263          White vinegar 500ml  Pantry Staples      Vinegar
1264    MD Fresh Chilli & Vinegar  Pantry Staples      Vinegar
1265           Spring Water 600ml       Beverages        Water

[1266 rows x 3 columns]

In [7]:
sales_df = pd.merge(sales_df, items_categories_df, how = "left", on = ["item_name"])
sales_df

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.140,cash,0.0,2.99,2.99,Fresh Produce,Apples
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.146,cash,0.0,2.99,2.99,Fresh Produce,Apples
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.150,cash,0.0,2.99,2.99,Fresh Produce,Apples
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.152,cash,0.0,2.99,2.99,Fresh Produce,Apples
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.162,cash,0.0,2.99,2.99,Fresh Produce,Apples
...,...,...,...,...,...,...,...,...,...,...,...
372752,4abec176-1ca7-4b47-afc9-1679174161dd,10/1/2018 4:00:35 PM,1232,onion brown 2kg large,1.000,magcard,3.5,4.50,1.00,Pantry Staples,Condiments
372753,863d4c09-d00c-4fdc-b8c6-0733244699c5,7/30/2018 4:20:44 PM,1232,onion brown 2kg large,1.000,magcard,3.5,4.50,1.00,Pantry Staples,Condiments
372754,e9e84a1d-22ed-4302-8932-8ef52f9ac200,12/12/2018 1:27:30 PM,1232,onion brown 2kg large,1.000,magcard,3.5,4.50,1.00,Pantry Staples,Condiments
372755,85c16d9f-5407-4922-a3d6-fa8bbed80688,8/17/2018 3:44:24 PM,1232,onion brown 2kg large,1.000,magcard,3.5,4.50,1.00,Pantry Staples,Condiments
372756,b9d76d65-06d5-4e96-af68-c0f8f8d81566,10/9/2018 4:40:51 PM,1232,onion brown 2kg large,1.000,magcard,3.5,4.50,1.00,Pantry Staples,Condiments

In [8]:
# coverting all string to title case
sales_df["item_name"] = sales_df["item_name"].str.title()
sales_df["payment_type"] = sales_df["payment_type"].str.title()
sales_df["main_category"] = sales_df["main_category"].str.title()
sales_df["sub-category"] = sales_df["sub_category"].str.title()
sales_df

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,sub-category
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.140,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.146,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.150,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.152,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.162,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples
...,...,...,...,...,...,...,...,...,...,...,...,...
372752,4abec176-1ca7-4b47-afc9-1679174161dd,10/1/2018 4:00:35 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments
372753,863d4c09-d00c-4fdc-b8c6-0733244699c5,7/30/2018 4:20:44 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments
372754,e9e84a1d-22ed-4302-8932-8ef52f9ac200,12/12/2018 1:27:30 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments
372755,85c16d9f-5407-4922-a3d6-fa8bbed80688,8/17/2018 3:44:24 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments
372756,b9d76d65-06d5-4e96-af68-c0f8f8d81566,10/9/2018 4:40:51 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments

## Add Columns

- Total Buying Price = unit_buying_price
- Total selling price = unit_selling_price
- Total Margin = unit_per_margin

In [9]:
sales_df["total_buying_price"] = sales_df["quantity"] * sales_df["unit_buying_price"]
sales_df["total_selling_price"] = sales_df["quantity"] * sales_df["unit_selling_price"]
sales_df["total_margin"] = sales_df["quantity"] * sales_df["unit_price_margin"]
sales_df

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,sub-category,total_buying_price,total_selling_price,total_margin
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.140,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.41860,0.41860
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.146,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.43654,0.43654
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.150,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.44850,0.44850
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.152,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.45448,0.45448
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.162,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.48438,0.48438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372752,4abec176-1ca7-4b47-afc9-1679174161dd,10/1/2018 4:00:35 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000
372753,863d4c09-d00c-4fdc-b8c6-0733244699c5,7/30/2018 4:20:44 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000
372754,e9e84a1d-22ed-4302-8932-8ef52f9ac200,12/12/2018 1:27:30 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000
372755,85c16d9f-5407-4922-a3d6-fa8bbed80688,8/17/2018 3:44:24 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000
372756,b9d76d65-06d5-4e96-af68-c0f8f8d81566,10/9/2018 4:40:51 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000

In [10]:
sales_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,sub-category,total_buying_price,total_selling_price,total_margin
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.140,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.41860,0.41860
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.146,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.43654,0.43654
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.150,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.44850,0.44850
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.152,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.45448,0.45448
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.162,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.48438,0.48438

## I want u to create a colum called quantity type
- if quantity is <= 1.100 then assing the value 'single
- if quantity is >1.100 and quantity is <10 then assign the value as 'regular
- if quantity is>=10 then assign the value as 'bulk

In [11]:
sales_df.loc[sales_df["quantity"]<=1.100, "quantity_type"] = "single"
sales_df.loc[(sales_df["quantity"]>1.100) & (sales_df["quantity"]<10), "quantity_type"] = "regular"
sales_df.loc[sales_df["quantity"]>=10, "quantity_type"] = "bulk"
sales_df.sample(10)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,sub-category,total_buying_price,total_selling_price,total_margin,quantity_type
159008,b17e73e1-8962-43d6-9fc3-1cce1074ce90,5/24/2017 1:49:37 PM,2150,Persimons **,0.608,Magcard,0.0,4.990000,4.990000,Fresh Produce,Other Fruits,Other Fruits,0.0000,3.033920,3.033920,single
320812,b5821b14-687f-4913-a618-f2945deeb64b,1/7/2018 1:30:15 PM,4791066003079,Red Basmathi 5Kg Araliya,1.000,Magcard,13.5,15.445455,1.945455,Pantry Staples,Rice,Rice,13.5000,15.445455,1.945455,single
356950,4358e674-7c27-41cb-b1d5-099f90e444e8,10/31/2018 5:08:27 PM,1113,Field Tomatoes,0.248,Magcard,1.6,2.990000,1.390000,Fresh Produce,Tomatoes,Tomatoes,0.3968,0.741520,0.344720,single
8907,92380925-3b3e-421d-b79f-9f326ff3e0ab,11/23/2017 12:22:06 PM,2010,Banana Cavendish,1.204,Cash,2.0,1.990000,-0.010000,Fresh Produce,Bananas,Bananas,2.4080,2.395960,-0.012040,regular
177976,4c1bc36b-65a5-473c-bceb-5be8fe3c67cb,11/3/2017 6:22:31 PM,1033,Eggplant,1.212,Cash,0.0,6.990000,6.990000,Fresh Produce,Other Vegies,Other Vegies,0.0000,8.471880,8.471880,regular
69276,bfdd9948-b263-4b9d-86d2-a72fd4864a0d,2/8/2017 11:07:09 PM,2036,Peaches Yellow,0.504,Cash,0.0,3.990000,3.990000,Fresh Produce,Stonefruits,Stonefruits,0.0000,2.010960,2.010960,single
42807,1c549745-6c41-49c8-8967-241a7d75fc8c,2/4/2017 5:27:51 AM,2045,Watermelon Seedless,2.368,Cash,1.0,1.490000,0.490000,Fresh Produce,Melons,Melons,2.3680,3.528320,1.160320,regular
217329,07879170-6aba-4110-b832-3068a410585c,3/9/2018 5:41:34 PM,1032,Cucumber Lebanese,0.328,Cash,0.0,4.990000,4.990000,Fresh Produce,Cucumbers,Cucumbers,0.0000,1.636720,1.636720,single
346720,2ae59171-8ddf-476f-9304-58cd071e6466,5/11/2018 9:22:12 AM,2070,Mandarin Imperial,0.656,Magcard,1.0,2.500000,1.500000,Fresh Produce,Citrus Fruits,Citrus Fruits,0.6560,1.640000,0.984000,single
47284,ef1c8175-f97a-4dd6-af82-97b09f453ce8,12/8/2017 2:25:49 PM,1099,Zucchini Green,0.294,Cash,0.0,3.500000,3.500000,Fresh Produce,Other Vegies,Other Vegies,0.0000,1.029000,1.029000,single

In [12]:
# date column
sales_df.dtypes

receipt_id              object
date                    object
item_code                int64
item_name               object
quantity               float64
payment_type            object
unit_buying_price      float64
unit_selling_price     float64
unit_price_margin      float64
main_category           object
sub_category            object
sub-category            object
total_buying_price     float64
total_selling_price    float64
total_margin           float64
quantity_type           object
dtype: object

In [13]:
sales_df["date"] = pd.to_datetime(sales_df["date"])

In [14]:
sales_df.dtypes

receipt_id                     object
date                   datetime64[ns]
item_code                       int64
item_name                      object
quantity                      float64
payment_type                   object
unit_buying_price             float64
unit_selling_price            float64
unit_price_margin             float64
main_category                  object
sub_category                   object
sub-category                   object
total_buying_price            float64
total_selling_price           float64
total_margin                  float64
quantity_type                  object
dtype: object

### Year
### Quarter
### Month
### Day
### Hour

In [15]:
sales_df["year"] = sales_df["date"].dt.year
sales_df["quarter"] = sales_df["date"].dt.quarter
sales_df["month"] = sales_df["date"].dt.month_name()
sales_df["day"] = sales_df["date"].dt.day_name()
sales_df["hour"] = sales_df["date"].dt.hour
sales_df.head(10)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,...,sub-category,total_buying_price,total_selling_price,total_margin,quantity_type,year,quarter,month,day,hour
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2017-02-17 00:17:17,2003,Apples Pink Lady,0.140,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.41860,0.41860,single,2017,1,February,Friday,0
1,65d59c3b-b474-482f-8779-3249d6fee305,2017-02-02 22:14:16,2003,Apples Pink Lady,0.146,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.43654,0.43654,single,2017,1,February,Thursday,22
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2017-02-21 02:11:10,2003,Apples Pink Lady,0.150,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.44850,0.44850,single,2017,1,February,Tuesday,2
3,3399ecfd-f809-4653-9310-d41015e09f8a,2017-01-10 03:11:14,2003,Apples Pink Lady,0.152,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.45448,0.45448,single,2017,1,January,Tuesday,3
4,085663fa-1fde-4ffc-adfc-527599065a87,2017-02-03 02:16:10,2003,Apples Pink Lady,0.162,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.48438,0.48438,single,2017,1,February,Friday,2
5,648880e7-8cc0-4f89-aee0-1110b5ee1570,2017-02-08 21:10:49,2003,Apples Pink Lady,0.166,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.49634,0.49634,single,2017,1,February,Wednesday,21
6,e7aa2e2a-d259-4418-a05b-383db43c71fc,2017-02-17 20:17:02,2003,Apples Pink Lady,0.168,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.50232,0.50232,single,2017,1,February,Friday,20
7,511f365b-987f-41a9-bde7-0461cb001b99,2017-01-30 21:20:47,2003,Apples Pink Lady,0.178,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.53222,0.53222,single,2017,1,January,Monday,21
8,40192fc8-7edb-44db-bad7-ad913cc94657,2017-02-21 05:50:04,2003,Apples Pink Lady,0.178,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.53222,0.53222,single,2017,1,February,Tuesday,5
9,6bb1cbb7-b49b-4324-9c13-f3534cdf5033,2017-03-02 03:41:23,2003,Apples Pink Lady,0.180,Cash,0.0,2.99,2.99,Fresh Produce,...,Apples,0.0,0.53820,0.53820,single,2017,1,March,Thursday,3

# Item Analysis

In [16]:
items_df = sales_df.groupby(["item_name", "main_category", "sub_category"]).agg(unit_buying_price = ("unit_buying_price", "mean"),
                                                                               unit_selling_price = ("unit_selling_price", "mean"),
                                                                                unit_price_margin = ("unit_price_margin", "mean"),
                                                                                quantity = ("quantity", "sum"),
                                                                                revenue = ("total_selling_price", "sum"),
                                                                                profit = ("total_margin", "sum"))
items_df

,,,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
item_name,main_category,sub_category,,,,,,
1Kg Olive Pack,Fresh Produce,Other Vegies,6.99,10.00,3.01,9.088,90.88000,27.35488
1Lt Coconut Oil,Pantry Staples,Oil,0.28,14.00,13.72,80.000,1120.00000,1097.60000
1Lt Coconut Oil Ver,Pantry Staples,Oil,0.00,14.00,14.00,10.000,140.00000,140.00000
2Kg Marsh Grapefruit,Fresh Produce,Citrus Fruits,3.00,5.00,2.00,141.000,705.00000,282.00000
2Kg Royal Gala Apple,Fresh Produce,Apples,0.00,4.50,4.50,60.000,270.00000,270.00000
...,...,...,...,...,...,...,...,...
Yellow Mustard Seeds 100G,Pantry Staples,Spices,0.00,2.99,2.99,3.000,8.97000,8.97000
Yellow Split Peas 500G,Pantry Staples,Grains and Pulses,1.40,1.99,0.59,60.000,119.40000,35.40000
Zafarelli,Fresh Produce,Bunch Vegies,1.00,1.50,0.50,12.000,18.00000,6.00000
Zucchini Green,Fresh Produce,Other Vegies,0.00,3.50,3.50,2406.733,8423.56550,8423.56550
Zucchini Lebanese,Fresh Produce,Other Vegies,0.00,3.49,3.49,1.708,5.96092,5.96092

## I want to know
- revenue
- quantity
- profit

In [17]:
items_df = items_df.reset_index()
items_df

,item_name,main_category,sub_category,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
0,1Kg Olive Pack,Fresh Produce,Other Vegies,6.99,10.00,3.01,9.088,90.88000,27.35488
1,1Lt Coconut Oil,Pantry Staples,Oil,0.28,14.00,13.72,80.000,1120.00000,1097.60000
2,1Lt Coconut Oil Ver,Pantry Staples,Oil,0.00,14.00,14.00,10.000,140.00000,140.00000
3,2Kg Marsh Grapefruit,Fresh Produce,Citrus Fruits,3.00,5.00,2.00,141.000,705.00000,282.00000
4,2Kg Royal Gala Apple,Fresh Produce,Apples,0.00,4.50,4.50,60.000,270.00000,270.00000
...,...,...,...,...,...,...,...,...,...
1131,Yellow Mustard Seeds 100G,Pantry Staples,Spices,0.00,2.99,2.99,3.000,8.97000,8.97000
1132,Yellow Split Peas 500G,Pantry Staples,Grains and Pulses,1.40,1.99,0.59,60.000,119.40000,35.40000
1133,Zafarelli,Fresh Produce,Bunch Vegies,1.00,1.50,0.50,12.000,18.00000,6.00000
1134,Zucchini Green,Fresh Produce,Other Vegies,0.00,3.50,3.50,2406.733,8423.56550,8423.56550
1135,Zucchini Lebanese,Fresh Produce,Other Vegies,0.00,3.49,3.49,1.708,5.96092,5.96092